@import url(https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,14..32,100..1000;1,14..32,100..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Abel&display=swap);

/* reset web basics */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body */
body {
    background-color: #01162B;
    color: #a2c9ef;
    font-family: 'Raleway', 'DM Sans', monospace;
    min-height: 100vh;
    transition: background-color 0.5s ease;
}

.navbar {
    background-color: #6a90b4;
    padding: 1rem 2rem;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

.nav-button {
    background-color: #d2dbeb;
    width: 10%;
    height: 20px;
    color: #01162B;
    border: 1px double #bdc3cd;
    padding: 0.1rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Abel", sans-serif, monospace;
    min-height: 20px;
    font-size: 100%;
    position: relative;
}

.nav-button:hover {
    border: 5px solid rgb(199, 177, 177);
}

.button::before {}

.button::after {
    content: '';
    position: absolute;


}

.popup {
    position: fixed;
    display:none;
    top: 30%;
    left: 25%;
    transform: translate(-60%, -19%);
    width: 500px; /* this can help with size of popup whenever I fill it up with whatever I want*/
    background-color: #181921;
    border-radius: 3px;
    box-shadow: 3px 5px 14px rgba(0,0,0,0.6); 
    z-index:77;
}

.content {
    padding: 30px;
    font-size: 0.9rem;
    line-height: 1.5;
}

.popup.active {
    display: block;
}

.titlebar {
    background-color: #CAD1D9;
    border-bottom: 3px double #555e6c;
    padding: 6px 10px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.buttons{
    background: none;
    border: 1.5px double #e0e0ff;
    cursor:pointer; /* lets you select the pointer for hovering*/
    padding: 2px 6px;
    border-radius: 3px;
}

.buttons:hover {
    background-color: #e0e0ff;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 14px;
    background-color: #555e6c;
    border-top: 1px double #e0e0ff;
    font-size: 0.77rem;
    color: #000000;

}

.overlay{
    display:none;
    position: fixed;
    inset: 0;
    background-color: rgba(0,0,0,0.2);
    z-index:76;
}

.overlay.active {
    display: block;
}

.landing-links {
    display: flex;
    position: relative;
    top: -125px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}